body{
  margin: 0;
  padding: 0;
}
.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  background-color: #f2f4f3;
  padding: 50px 0;

}
.quote-container-loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.quote-content {
  display: flex;
  justify-content: space-between;
  width: 60vw;
  gap: 20px;
  background-color: #ffffff;
  padding: 40px;
  border: 1px solid #ccc;
}

.itinerary-section {
  flex: 2;
  padding-right: 20px;
}

.user-info-section {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  height:fit-content;
}

.header-title{
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0;
}
.quote-header{
  width: 60vw;
  display: flex;
  text-align: left;
  align-items: flex-start;
  flex-direction: column;
}
.day-container {
  margin-bottom: 20px;
}

.day-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.accordion-header {
  font-size: 16px;
}

.accordion-body {
  padding: 10px;
}

.item-number {
  font-weight: bold;
  margin-right: 10px;
}

.place-image img,
.restaurant-image img {
  max-width: 100%;
  height: auto;
}

.user-info-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.user-info-text {
  margin-bottom: 20px;
}

.quote-form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-label {
  margin-bottom: 10px;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-submit {
  padding: 10px 15px;
  background-color: #fd7e14;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.form-submit:hover {
  background-color: #ff9e4f;
}

.accordion-button:focus {
  outline: none;
  box-shadow: none;
}