/* General styles */
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 20px;
  background-color: #060030;
  position: sticky;
  top: 53px;
  z-index: 10;
}


.header__logo img {
  height: 100px !important; /* Adjust the size as needed */
  position: fixed;
  top: 4%;
  left: 2%;
  z-index: 1200;
}

.header__nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
  font-family: 'PangeaAfrikan', sans-serif;
}

.header__nav ul li {
  position: relative;
}

.header__nav ul li a {
  text-decoration: none;
  color: #ffffff; /* Default font color */
  font-weight: 500 !important;
  font-family: 'PangeaAfrikan', sans-serif;
  font-size: 16px;
}

.header__nav .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f8f9fa;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 200px; /* Increase this value to adjust the width */
  border-radius: 8px;
}

.header__nav .dropdown-content li {
  padding: 10px;
  text-align: left;
  width: 100%;
}

.header__nav .dropdown:hover .dropdown-content {
  display: block;
}

/* Top navigation */
.topnav {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #060030;
  padding: 10px 20px;
}

.social-links {
  display: flex;
  margin-left: 10px;
}

.social-links a {
  color: white;
  margin-right: 5px;
  text-decoration: none;
  font-size: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px; /* Adjust the size as needed */
  height: 30px; /* Adjust the size as needed */
  border-radius: 50%;
  background-color: #292929; /* Background color for the circle */
  transition: background-color 0.3s;
}

.social-links a:hover {
  background-color: #777; /* Background color on hover */
}

.nav-buttons {
  display: flex;
  align-items: center;
}

.home-button {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 5px;
  font-size: 15px;
  font-weight: 500;
  margin-right: 20px;
  font-family: 'PangeaAfrikan', sans-serif;
}

.home-button:hover {
  text-decoration: underline;
}

.login {
  background-color: #e9e9e9;
  color: rgb(0, 0, 0);
  border: none;
  padding: 6px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 0; /* Remove margin */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 20px;
  font-family: 'PangeaAfrikan', sans-serif;
}

.login:hover {
  background-color: darkorange;
}

.header__logo img {
  height: 100px;
}

.header__nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.header__nav ul li {
  margin-right: 20px;
}

.header__nav ul li a {
  text-decoration: none;
  color: #ffffff; /* Default font color */
}

.header__nav ul li a:hover {
  text-decoration: underline;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Progress bar styles */
.progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #e0e0e0; /* Background color of the progress bar container */
  z-index: 999;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.divider {
  width: 62%; /* Set to your desired width */
  height: 1px; /* Thickness of the divider */
  background-color: #060030; /* Color of the divider */

}