body{
  font-family: 'PangeaAfrikan', sans-serif;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 100px 200px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  
}
