/* Container for the entire itinerary page */
.itinerary-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px auto;
  padding: 60px;
  max-width: 1400px;
  background-color: #ffffff;
  font-family: 'PangeaAfrikan', sans-serif;
  gap: 40px;
}

/* Left content section */
.itinerary-content {
  flex: 2;
  margin-right: 20px;
}
.back-to-attraction{
  background-color: transparent !important;
  font-family: 'PangeaAfrikan', sans-serif;
}

/* Right action section */
.action-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}

/* Title styling */
.itinerary-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.itinerary-subtitle {
  font-size: 1.8rem;
  color: #000000;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
  font-family: 'PangeaAfrikan', sans-serif;
}

/* Day container styling */
.day-container {
  margin-bottom: 20px;
  border-radius: 10px;
  font-family: 'PangeaAfrikan', sans-serif;
}

.day-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000300;
  margin-bottom: 10px;
  font-family: 'PangeaAfrikan', sans-serif;
  margin-top: 20px;
}

/* Accordion item styling */
.accordion-button {
  font-size: 1.2rem;
  background-color: #ffffff;
  color: #333;
 
}

.accordion-header .item-number {
  font-weight: bold;
  margin-right: 10px;
  background-color: black;
  padding: 10px;
  border-radius: 50%; /* Ensures the shape is a circle */
  width: 30px; /* Set a fixed width */
  height: 30px; /* Set a fixed height to match the width */
  display: flex; /* Center the text inside the circle */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  color: white; /* Optional: makes the text more visible */
}
.accordion-header {
  border: none;
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 10px;
}
.accordion-header .item-name{
  font-size: 1.1rem;
  font-weight: 500;
  color: #000300;
  margin-bottom: 10px;
  font-family: 'PangeaAfrikan', sans-serif;
}

.accordion-item {
  border: none; /* Remove any borders around the accordion item */
  padding: 0;
}
.accordion-button:not(.collapsed) {
  background-color: transparent;
  border: none;
  border-color: transparent;
}
.accordion-item:not(:last-child) .accordion-header {
  margin-bottom: 10px; /* Add some space between accordion headers */
}
.accordion-item:first-of-type>.accordion-header .accordion-button {
  border: none;
}
.place-header{
  border-bottom: 1px solid #ff0000;
}



.accordion-body {
  background-color: #ffffff;
}

.place-info,
.restaurant-info {
  margin-top: 10px;
  color: #555;
}

/* Image styling */
.place-image img,
.restaurant-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Button and login container styling */
/* .back-button-container,
.save-button-container,
.login-container {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  font-family: 'PangeaAfrikan', sans-serif;
  
}

.back-button-container button,
.save-button-container button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.back-button-container button {
  background-color: #007bff;
  color: black;
}

.save-button-container button {
  background-color: #fd7e14;
} */

.action-btn{
  background-color: #fd7e14;
  width: 300px;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'PangeaAfrikan', sans-serif;
}
.action-btn:hover{
  background-color: #ff9e4f;
}

.itinerary-list-button-container button{
  background-color: transparent;
  text-decoration: underline;
  color: #000000;
}
.itinerary-list-button-container button:hover{
  color: #fd7e14;
  background-color: transparent;
}

.save-button-container button:disabled {
  background-color: #6c757d;
}

.login-container {
  margin-top: 20px;
}

.accordion-header {
  font-size: 0.875rem;
  background-color: #ffffff;
  padding: 10px;
}



/**carousel**/
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 40px 130px;
  margin-bottom: 20px;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  font-family: 'PangeaAfrikan', sans-serif;
}

.hotel-card{
  display: flex;
  flex-direction: column;
  text-align: left;
  border: 1px solid #dfdfdf;
  padding: 30px;
  border-radius: 10px;
  height: 300px;
}

.des p{
  font-size: 1rem;
  font-weight: 200;
  color: #000300;
  margin-bottom: 10px;
  font-family: 'PangeaAfrikan', sans-serif;
  margin-top: 20px;
  text-align: left;
}
.des{
  border-bottom: 1px solid #dfdfdf;
  padding: 10px 0;
}

.swiper-container{
  max-width: 800px;
  height: 40vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-family: 'PangeaAfrikan', sans-serif;
}

/* SwiperStyles.css */


.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 20px; /* Adjust font size of the arrows */
}

.swiper-button-prev {
  background-image: url("https://cdn-icons-png.flaticon.com/128/93/93634.png") !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  padding-top: 200px;
  }
  
  .swiper-button-next {
  background-image: url("https://cdn-icons-png.flaticon.com/128/2767/2767192.png") !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  padding-top: 200px;
  }

  .swiper-button-next::after {
    display: none;
    }
    
    .swiper-button-prev::after {
    display: none;
    }

    .action-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #dfdfdf;
      border-radius: 10px;
      padding: 20px;
      gap: 10px;
      height: fit-content;
    }
    .loading-anim{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70vh;
      flex-direction: column;
    }

    .err-msg{
      font-family: 'PangeaAfrikan', sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70vh;
    }