.account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'PangeaAfrikan', sans-serif;
    background-color: #f2f4f3;
    text-align: left;
  }
  
  .quote-card {
    width: 100%; /* Reduced width */
    padding: 50px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    background-color: #ffffff;
    
  }
  .account-header{
    width: 100%;
    text-align: left;
  }
  .account-header h1{
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 0;
    color: black;
  }
  
  .user-details,
  .cost-details {
    margin-bottom: 20px;
  }

  .user-details{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    font-family: 'PangeaAfrikan', sans-serif;
  }
  
  .cost-table,
  .summary-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .cost-table th, .cost-table td,
  .summary-table td {
    padding: 10px;
    text-align: left;
  }
  
  .cost-table th, .user-table th {
    background-color: #f4f4f4;
    padding: 10px;
  }
  
  .summary-table {
    float: right;
    width: auto; /* Auto width for summary table */
  }
  
  .summary-table td {
    padding: 5px 10px;
  }
  

  /* Styles for the account page */
.account-page {
  display: flex;
}

.account-container {
  flex: 1;
  margin-left: 260px; /* Adjust based on sidebar width */
  padding: 20px;
}
.user-details h3{
  font-size: 1.2rem;
  margin-bottom: 0;
}
.cost-details h3{
  font-size: 1.3rem;
  margin-bottom: 0;
}

.quote-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  margin-bottom: 20px;
  width: 100%;
}